<h1>Tweets</h1>

<table class="table">
  <thead>
    <tr>
      <th>Tweet</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @tweets.each do |tweet| %>
      <tr>
        <td><%= link_to tweet.user.name, "/users/#{tweet.user.id}" %> - <%= link_to tweet.body, "/tweets/#{tweet.id}" %></td>
        <td><%= link_to 'Edit', "/tweets/#{tweet.id}/edit" %></td>
        <td><%= link_to 'Delete', "/tweets/#{tweet.id}", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tweet', "/tweets/new", class: 'btn btn-primary' %>
        
