<p style="color: green"><%= notice %></p>

<%= render @note %>

<div>
  <%= link_to "Edit", edit_note_path(@note) %> |
  <%= link_to "Back to notes", notes_path %>

  <%= button_to "Delete", @note, method: :delete %>
</div>
